.authCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    border-radius: 20px;
    gap: 1em;
    padding: 20px;
    padding-top: 2em;
    background-color: #ffdcdc;
    border: 3px solid #885A5A;
    color: #4d3333;
}

input{
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    color: #4d3333;
}

.loginLink {
    color: #81A094;
}