.navBar{
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #885A5A;
    padding-block: 12px;
    color: white;
    gap: 2em;
}

.navLink {
    color: rgb(255, 255, 255);
    transition: transform 0.3s;
}

.navLink:hover {
    transform: scale(1.05);
    color: white;
}

input {
    width: 50%;
}
