.postCard {
    width: 26%;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #885A5A;
    background-color: #ffdcdc;
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.3s
}

.cardImg {
    cursor: pointer;
}

.postCard:hover {
    transform: scale(1.05);
}
